
.f-f-m{font-family: PingFangSC-Medium;}
.f-f-r{font-family: PingFangSC-Regular;}

.m-t-20
{
    margin-top:20px;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-24{
    margin-top: 24px;
}

.m-l-24{
    margin-left: 24px;
}

.m-l-16{margin-left: 16px;}
.m-b-16{margin-bottom: 16px;}

.m-t-33{margin-top: 33px;}
.m-t-16{margin-top: 16px;}
.m-r-19{margin-right: 19px;}
.m-t-99{margin-top: 99px;}
.m-t-40{margin-top: 40px;}
.m-t-48{margin-top: 48px;}
.m-t-45{margin-top: 45px;}
.m-t-54{margin-top: 54px;}
.m-t-60{margin-top: 60px;}

.l-h-24{line-height: 24px;}

.p-t-b-16{padding-top: 16px;padding-bottom: 16px;}

.p-24-16{padding: 24px 16px;}
.p-30-24{padding: 30px 24px;}
.p-13-26{padding: 13px 24px;}
.dp-n{display: none}
.m-0-a{margin: 0 auto;}

.p-lr-48{
    padding-right: 48px;
    padding-left: 48px;
}

.fix-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.fix-bottom2{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0 -2px 10px 0 rgba(228,228,228,0.30);
    z-index: 1000;
}

.layer-shadow{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    background-color: rgba(22,22,22,.6);
    z-index: 1000;
}

.t-al-c{text-align: center;}
.t-al-r{text-align: right;}
.t-al-l{text-align: left;}

.content-wrapper{padding: 16px;background-color: #f8f8f8;}
.content-wrapper-24-16{padding: 24px 16px;}
.bg-ffffff{background-color: #ffffff !important;}
.bg-f9f9fb{background-color: #f9f9fb !important;}

.p16{padding: 16px;}

.content-wrapper-ffffff{
    padding: 16px;background-color: #ffffff;box-shadow: 0 10px 24px 0 rgba(0,0,0,0.08);  border-radius: 8px;
}

.cus-row{font-size: 0;line-height: 0;}
.cus-row-col-12
{
    width: 100%;
    display: inline-block;
}
.cus-row-col-11
{
    width: 91.66666667%;
    display: inline-block;
}
.cus-row-col-10
{
    width: 83.33333333%;
    display: inline-block;
}
.cus-row-col-9
{
    width: 75%;
    display: inline-block;
}
.cus-row-col-8
{
    width: 66.66666667%;
    display: inline-block;
}
.cus-row-col-7
{
    width: 58.33333333%;
    display: inline-block;
}
.cus-row-col-6
{
    width: 50%;
    display: inline-block;
}
.cus-row-col-5
{
    width: 41.66666667%;
    display: inline-block;
}
.cus-row-col-4
{
    width: 33.33333333%;
    display: inline-block;
}
.cus-row-col-3
{
    width: 25%;
    display: inline-block;
}
.cus-row-col-2
{
    width: 16.66666667%;
    display: inline-block;
}
.cus-row-col-1
{
    width: 8.33333333%;
    display: inline-block;
}

.l-h-48{line-height: 48px !important;}

.height-center
{
    position: absolute;
    top:50%;
    left:0;
    right:0;
    transform: translateY(-50%);
}

.all-center
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.fs-24-fc-212229{font-size: 24px;color:#212229;line-height: 26px;}
.fs-16-fc-ffffff{font-size: 16px;color:#ffffff;line-height: 18px;}
.fs-14-fc-ffffff{font-size: 14px;color:#ffffff;line-height: 16px;}
.fs-18-fc-ffffff{font-size: 18px;color:#ffffff;line-height: 20px;}
.fs-18-fc-ffffff-m{font-size: 18px;color:#ffffff;line-height: 20px;font-weight: 800;}
.fs-16-fc-099FFF{font-size: 16px;  color: #099FFF;  line-height: 18px;}
.fs-16-fc-78CD09{font-size: 16px;  color: #78CD09;  line-height: 18px;}
.fs-24-fc-ffffff-b{font-size: 24px;color:#ffffff;line-height: 26px;font-weight: bold;}
.fs-24-fc-27282F{font-size: 24px;  color: #27282F;line-height:26px;}

.fs-14-fc-212229{font-size: 14px;color: #212229;line-height:16px;}
.fs-16-fc-212229{font-size: 16px;color: #212229;line-height:18px;}
.fs-12-fc-95909e{font-size: 12px;color: #95909E;line-height: 14px;}
.fs-14-fc-A6A6A6{font-size: 14px;color: #A6A6A6;line-height: 16px;}
.fs-16-fc-9A9B9C{font-size: 16px;color:#9A9B9C;line-height: 18px;}
.fs-16-fc-95909E{font-size: 16px;  color: #95909E;line-height: 18px;}
.fs-14-fc-95909E{font-size: 14px;  color: #95909E;line-height: 16px;}
.fs-14-fc-FFB11B{font-size: 14px;  color: #FFB11B;line-height: 16px;}
.fs-36-fc-484848-m{font-size: 36px;  color: #484848;  line-height: 38px;font-weight: 800;}
.fs-20-fc-27282f{font-size: 20px;color: #27282F;line-height: 22px;}
.fs-36-fc-ffffff{font-size: 36px;color:#ffffff;line-height: 39px;}
.fs-36-fc-78CD09-m{font-size: 36px;  color: #78CD09;line-height: 38px;font-weight: 800;}
.fs-12-fc-ffffff{font-size: 12px;color:#ffffff;line-height: 14px;}
.fs-14-fc-5EC11A{font-size: 14px;color:#5EC11A;line-height: 16px;}
.fs-20-fc-484848-m{font-size: 20px;  color: #484848;  line-height: 22px;font-weight: 800;}

.fs-12-fc-030303{font-size: 12px;color:#030303;line-height: 14px;}
.fs-12-fc-fa3f26{font-size: 12px;color:#fa3f26;line-height: 14px;}
.fs-16-fc-030303{font-size: 16px;color:#030303;line-height: 18px;}
.fs-14-fc-030303{font-size: 14px;color:#030303;line-height: 16px;}

.fs-14-fc-7e7e7e-r{font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #7E7E7E;
    letter-spacing: -0.27px;line-height: 14px;}


.fs-18-fc-000000-m{font-size: 18px;color:#000000;line-height: 18px;font-family: PingFangSC-Medium;letter-spacing: -0.35px;}
.fs-16-fc-000000-m{font-size: 16px;color:#000000;line-height: 16px;font-family: PingFangSC-Medium;letter-spacing: -0.31px;}
.fs-12-fc-7E7E7E-r{font-size: 12px;color:#7E7E7E;line-height: 12px;font-family: PingFangSC-Regular;;letter-spacing: -0.23px;}

.fs-16-fc-c50081
{
    font-size: 16px;
    color: #C50081;
    letter-spacing: 0.25px;
    line-height: 16px;
}

.fs-16-fc-c50081-m
{
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #C50081;
    letter-spacing: -0.31px;
}

.fs-12-fc-4a4a4a{font-size: 12px;
color: #4A4A4A;
letter-spacing: 0.19px;line-height: 12px;}

/*字体样式*/
.fs-24-fc-000000 {
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0.38px;
    line-height: 24px;
}

.fs-18-fc-2E3133 {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #2E3133;
    letter-spacing: -0.43px;
    line-height: 18px;
}

.fs-12-fc-c50081
{
    font-size: 12px;
    color: #C50081;
    letter-spacing: 0.19px;
}


.fs-14-fc-c50081-m{font-family: PingFangSC-Medium;
font-size: 14px;
color: #C50081;
letter-spacing: -0.31px;
}


.fw-m{font-weight: 800;}



.btn-block1{display: block;line-height: 40px;text-align: center;
    color: #ffffff;border-radius: 40px;background-color: #98CC3D;border: 1px solid #81BA1F;}

.btn-block1:hover{color:#ffffff;}

.in-bl{display: inline-block}
.in-bl-line{font-size: 0}
.in-bl-line-item{font-size: 14px;display: inline-block;}
.v-a-m{vertical-align: middle;}
.v-a-b{vertical-align: bottom;}
.v-a-t{vertical-align: top;}


.l-h-48{line-height: 48px;}
.l-h-17{line-height: 17px;}

.img-icon{width: 32px;}

.fs-16-fc-484848{font-size: 16px;color:#484848;line-height: 18px;}
.fs-14-fc-484848{font-size: 14px;color:#484848;line-height: 16px;}
.fs-16-fc-484848-m{font-size: 16px;color:#484848;line-height: 18px;font-weight: 500;}

.navigator-line{background: #099FFF;  box-shadow: 0 10px 24px 0 rgba(9,159,255,0.26);  border-radius: 8px;}

.navigator-line-78CD09{background: #78CD09;  box-shadow: 0 10px 24px 0 rgba(120,205,9,0.26);  border-radius: 8px;}

.navigator-line-FFB11B{background: #FFB11B;  box-shadow: 0 10px 24px 0 rgba(255,177,27,0.26);  border-radius: 8px;}

.navigator-line-099FFF{background: #099FFF;  box-shadow: 0 10px 24px 0 rgba(9,159,255,0.26);  border-radius: 8px;}

.navigator-sub-line{background: #FFFFFF;  box-shadow: 0 10px 24px 0 rgba(0,0,0,0.08);border-radius: 0 0 8px 8px;}

.mine-list{
    background: #FFFFFF;
    box-shadow: 0 10px 24px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
}

.mine-list-item{padding: 19px}


.mine-record{
    background: #FFFFFF;
    box-shadow: 0 10px 24px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
    padding: 18px 16px;
}

.circle-point
{
    background-image: linear-gradient(-140deg, #FFDE94 0%, #FF9F09 40%);
    width: 16px;
    height: 16px;
    border-radius: 16px;
    display: inline-block;
}
.circle-point-hollow{background: #FFFFFF;
    border: 1px solid #9B9B9B;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    display: inline-block;
}

.btn1{background-image: linear-gradient(-137deg, #B9E77D 0%, #78CD09 50%);  box-shadow: 0 8px 16px 0 rgba(139,217,75,0.46);border-radius: 44px;line-height: 44px;font-size: 16px;color:#ffffff;}



.btn1-gray{border: 1px solid #BFBFBF;  box-shadow: 0 8px 16px 0 rgba(139,217,75,0.46);border-radius: 100px;text-align: center;font-size: 16px;color: #A6A6A6;border-radius: 44px;line-height: 44px;}

.user_panel{background-image: linear-gradient(-137deg, #B9E77D 0%, #78CD09 50%);box-shadow: 0 8px 16px 0 rgba(139,217,75,0.46); border-radius: 8px;padding: 16px;}

.lms-btn2{
    background: #ffffff;
    box-shadow: 0 10px 24px 0 rgba(0,0,0,0.08);
    border-radius: 8px;
    font-size: 16px;
    color:#fa3f26;
    letter-spacing: -0.39px;
    text-align: center;
    line-height: 44px;
}

.lms-btn3{
    border: 1px solid #78CD09;
    border-radius: 100px;
    line-height: 44px;
    font-size: 16px;
    color: #78CD09;
    background: #ffffff;
}

.message-item{
    padding-top: 24px;
    padding-left:30px;
}


.btn3{background-image: linear-gradient(-137deg, #B9E77D 0%, #78CD09 50%);  box-shadow: 0 8px 16px 0 rgba(139,217,75,0.46);border-radius: 44px;line-height: 44px;font-size: 16px;color:#ffffff;font-weight: 800;text-align: center;}


.btn4{position: absolute;left:0;bottom:0;right: 0;background-color: #0acb6c;padding: 40px 0;color:#ffffff;font-size: 26px;text-align: center;}

.fix-bottom3{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    box-shadow: 0 -2px 10px 0 rgba(228,228,228,0.30);
    z-index: 999;
    padding: 14px;
}

.m-t-6{margin-top: 6px;}

.header-img1{width: 64px;height: 64px;border-radius: 64px;display: inline-block;vertical-align: middle;}

.lms-link-1{color:#98CC3D;font-size: 16px;}

.yl_btn1{
    background-image: linear-gradient(-135deg, #C50081 0%, #A30182 100%);
    box-shadow: 0 3px 7px 0 rgba(197,0,129,0.23);
    border-radius: 24px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.39px;
    text-align: center;
    line-height: 44px;
    display: inline-block;
    width: 100%;
}


.cus-input{padding: 0;margin: 0;line-height: 35px;caret-color: #C50081;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);display: inline-block;width: 100%;}
.btn-gray{background-image: none; background: #CECCCC;color:#ffffff;box-shadow:none;}
.btn-green{background-image: none; background: #03C160;color:#ffffff;box-shadow:none;}
.btn-red{background-image: none; background: #ffffff;color:#C50081;box-shadow:none;border: 1px solid #C50081;}

.white-panel
{
    padding: 16px 24px;
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 #E7E9F0;
    border-radius: 5px;
}

.food-icon-img
{
    width: 80px;
    height: 80px;
    border-radius: 4px;
    overflow: hidden;
}

.barr-line{
background: #FFFFFF;
border: 1px solid #E1E1E1;
margin-top: 24px;
margin-bottom: 24px;
}

.quantity-plus
{
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #212229;
}

.quantity-plus-icon
{
    width: 21px;
    height: 21px;
}
